<!-- src/app/fundo-edit/fundo-edit.component.html -->
<div class="flex justify-center items-center h-screen">
  <form (ngSubmit)="updateFundo()" [formGroup]="fundoForm" class="fundo-form w-1/3">
    <mat-card class="w-full p-4">
      <mat-card-header class="mb-4">
        <mat-card-title>Editar Fundo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="form-group">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Código</mat-label>
            <input matInput formControlName="codigo" [attr.disabled]="false">
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>CNPJ</mat-label>
            <input matInput formControlName="cnpj">
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Patrimônio</mat-label>
            <input matInput formControlName="patrimonio" type="number">
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Código Tipo</mat-label>
            <input matInput formControlName="codigoTipo" type="number">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="flex justify-end">
        <button mat-stroked-button class="mr-4" type="button" (click)="cancel()">Cancelar</button>
        <button mat-flat-button type="submit">Salvar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
